  <nav class="navbar  fixed-top flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admins"><h5>Pamela's Panel</h5></a>
      <input name="search" class="form-control form-control-dark w-100 col-sm-6" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav col-sm-3">
        <li class="nav-item text-nowrap">
          <% if user_signed_in? %>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, authenticity_token: true %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
        </li>
      </ul>
    </nav>
