<nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/admins">
                  Dashboard 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/courses">
                  <span data-feather="shopping-cart"></span>
                  Courses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cohorts">
                  <span data-feather="users"></span>
                  Cohorts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/teachers">
                  Teachers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/students">
                  Students
                </a>
              </li>
            </ul>
          </div>
        </nav> 